



.contents{
width:500px;
margin-left:auto;
margin-right:auto;

.flex{
    display: flex;
    width: 700px;
    justify-content: center;
    
    .label{
        margin-top: 15px;
        margin-bottom:0px ;
    }
    .divideContents{
        margin-right: 40px;
    }
}
.errormessage{
    width:  100%;
    color: red;
    margin-top: 10px;

}
.button{
    margin-top: 10px;
    width:200px;
   
    margin-left:auto;
margin-right:auto;
}
.submit{
    margin-top: 10px;
    background-color: #449887;
    border-radius: 5px;
    color: white;
    border:none;
   width: 100%;
  height: 80px;
    font-size: 24px;
 
}
}
